<h2 class="text-primary">Add product</h2>
<form action="/" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" name="price" />
  </div>
  <div class="mb-3">
    <label for="thumbnail" class="form-label">Image link</label>
    <input type="url" class="form-control" name="thumbnail" />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input type="text" class="form-control" name="category" />
  </div>
  <button type="submit" class="btn btn-success">Load product</button>
</form>
<br>