<h2 style="color:crimson;">Stock:</h2>

<% if(products.length > 0) { %>
    <div class="table-responsive">
        <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Product name</th>
            <th>Batch</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
        <% for (const product of products) {%>
        <tr>
            <td><%=product.product_name%></td>
            <td><%=product.batch%></td>
            <td><%=product.price%></td>
            <td><%=product.category%></td>
        </tr>
        <%};%>
        </table>
    </div>
<%}else{%>
    <h3 class="alert alert-danger">Product not found</h3>
<%};%>